<mat-toolbar>
  <div  class="header">
   <img class="logo" src="assets/E-Commerce-Logo.png">
    <img class="shop-bag" src="assets/shopingbag.png">
    <img class="peson" src="assets/images.png">
    <a class="box" src="assets/box.png"><img class="pue" src="assets/Pune.png"/>
      <a class="boxs">Pure</a></a>
 </div>
</mat-toolbar>
<div class="navbar-contact">
  <div class="row">
    <div class="col-sm-6">
     <p class="nav">Home >  Moblies > </p>
      </div>
  <div class="col-sm-6">
    <div class="Contact">
    <img class="phone" src="assets/call.png">
    <a>997623468</a>
    <img class="Address" src="assets/storefront.png" alt="/responsive">
    <a class="strAdss" >Sayyad Mohammad Khalilulla Bagdadi Chowk,</a>
  </div>
  </div>
</div>
</div>
<div class="body_conta">
  <div class="row">
   <div class="col-sm-4 col-part">
<h3 class="header_name">Rajdeep Telecom
<img class="share" src="assets/share.png"></h3>
<div class="pannel ">
 <a class="pannel-defult">4.5<img class="star"src="assets/star.jpg"></a>
<img class="device" src="assets/icon.png">
 <img class="monitor" src="assets/monitor.png">
 <img class="laptop" src="assets/laptop.png">
</div>
<div class="search-container ">
 <input class="ser  " type="text" placeholder="Search Product" name="search">
<button class="but " type="submit"><i class="fa fa-search"></i></button> 
</div>
<p class="tab">e.g: Washing machine, furniture</p>
</div>
<div class="col-sm-6">
<img class="photo" src="assets/telecom.png">
</div>
<div class="nav-bar">
<a class="all">All</a>
<a class="mac">Mac</a>
<a class="phone">iPhone</a>
<a class="Pad">iPad</a>
<a class="Access">Accessories</a>                                                                               

</div>
</div>
<div class="container">
  <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid-3">
                <div class="filter-box">
                   <a class="Filter">Filter</a>
                   <a class="rset">Rest all</a>
                   <label class="show" for="all"><span></span>Show only Offers</label>
                   <input style="margin-left: 25%;" type="checkbox" id="all" name="rr" data-filter="checked" checked /><hr>
                   <div id="list-filter">
                     <label class="tack">Category</label><br>
                    <label class="product-name" for="all"><span></span>Home Appliance</label>
                   <input type="checkbox" id="all" name="rr" data-filter="Checked"  /><br>
                   
                   <label  class="product-name"for="student"><span></span>Electronics</label>
                 <input type="checkbox" id="student" name="rr" data-filter="all"checked /><br>
                 
                 <label  class="product-name" for="construction"><span></span>Furniture</label>
                   <input type="checkbox" id="construction" name="rr" data-filter="construction" /><br>
                   
                   <label  class="product-name" for="available"><span></span>Home Decor</label>
                   <input type="checkbox" id="available" name="cc" data-filter="available" /><br>
                
                <label   class="tack" >Brand</label><br>
                <label class="product-name" for="available"><span></span>Apple</label>
                   <input type="checkbox" id="available" name="cc" data-filter="available" /><br>
                   
                   <label class="product-name" for="available"><span></span>One Plus</label>
                   <input type="checkbox" id="available" name="cc" data-filter="all" checked/><br>
                   <label  class="product-name" for="available"><span></span>Asus</label>
                   <input   type="checkbox" id="available" name="cc" data-filter="available" /><br>
                   <label class="product-name"  for="available"><span></span>Vivo</label>
                   <input type="checkbox" id="available" name="cc" data-filter="available" /><br>
  
               </div>
                </div>
              </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                      <img class="pic-2" src="assets/favorite.png"/>
                      <img class="pic-2" src="assets/Path.png"/>
                     <p class="add-on">OnePlus 7 Pro (Almond, 8GB RAM, Fluid AMOLED Display, 256GB Storage, 4000mAH Battery)</p>
                     <p class="prize">₹23500
                       <span >₹10,490</span>
                       <a class="off">30% off</a>
                     </p> 
                      </a> 
                      <ul class="rating">
                        <li style="color: #FFC600;" class="fa fa-star"></li>
                        <li style="color: #FFC600;" class="fa fa-star"></li>
                        <li style="color: #FFC600;" class="fa fa-star"></li>
                        <li style="color: #FFC600;" class="fa fa-star "></li>
                        <li style="color:gray;" class="fa fa-star disable"></li>
                    </ul>
                    <p class="add-to-cart">Add To Cart</p>
                    
                    <p class="deli">Delivery in 24 hrs</p>
                </div>
               </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="assets/phone-2.png">
                      </a>
                      <p class="add-on">OnePlus 7 Pro (Almond, 8GB RAM, Fluid AMOLED Display, 256GB Storage, 4000mAH Battery)</p>
                      <p class="prize">₹23500
                        <span >₹10,490</span>
                        <a class="off">30% off</a>
                      </p> 
                    </div>
                    <ul class="rating">
                      <li style="color: #FFC600;" class="fa fa-star"></li>
                      <li style="color: #FFC600;" class="fa fa-star"></li>
                      <li style="color: #FFC600;" class="fa fa-star"></li>
                      <li style="color: #FFC600;" class="fa fa-star "></li>
                      <li style="color:gray;" class="fa fa-star disable"></li>
                  </ul>
                  <p class="deli">Delivery in 24 hrs</p>
               
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                      <img class="pic-1" src="assets/phone-3.png">
                    
                    </a>
                  <p class="add-on"> OnePlus 7 Pro (Almond, 8GB RAM, Fluid AMOLED Display, 256GB Storage, 4000mAH Battery)</p>
                   <p class="prize">₹23500
                    <span >₹10,490</span>
                    <a class="off">30% off</a>
                   </p> 
                </div>
                <ul class="rating">
                  <li style="color: #FFC600;" class="fa fa-star"></li>
                  <li style="color: #FFC600;" class="fa fa-star"></li>
                  <li style="color: #FFC600;" class="fa fa-star"></li>
                  <li style="color: #FFC600;" class="fa fa-star "></li>
                  <li style="color:gray;" class="fa fa-star disable"></li>
              </ul>
              <p class="deli">Delivery in 24 hrs</p>
                    
                </div>
                 </div>
        </div>
    </div>
  </div>
  <div class="Contact-2">
    <div class="row">
  
      <div class="col-md-3 col-sm-6">
        <div class="product-grid-1">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/phone-2.png">
                  </a>
                  <p class="add-on">OnePlus 7 Pro (Almond, 8GB RAM, Fluid AMOLED Display, 256GB Storage, 4000mAH Battery)</p>
                  <p class="prize">₹23500
                    <span >₹10,490</span>
                    <a class="off">30% off</a>
                  </p> 
                </div>
                <ul class="rating">
                  <li style="color: #FFC600;" class="fa fa-star"></li>
                  <li style="color: #FFC600;" class="fa fa-star"></li>
                  <li style="color: #FFC600;" class="fa fa-star"></li>
                  <li style="color: #FFC600;" class="fa fa-star "></li>
                  <li style="color:gray;" class="fa fa-star disable"></li>
              </ul>
              <p class="deli">Delivery in 24 hrs</p>
           
        </div>
    </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid-1">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/phone-2.png">
                  </a>
                  <p class="add-on">OnePlus 7 Pro (Almond, 8GB RAM, Fluid AMOLED Display, 256GB Storage, 4000mAH Battery)</p>
                  <p class="prize">₹23500
                    <span >₹10,490</span>
                    <a class="off">30% off</a>
                  </p> 
                </div>
                <ul class="rating">
                  <li style="color: #FFC600;" class="fa fa-star"></li>
                  <li style="color: #FFC600;" class="fa fa-star"></li>
                  <li style="color: #FFC600;" class="fa fa-star"></li>
                  <li style="color: #FFC600;" class="fa fa-star "></li>
                  <li style="color:gray;" class="fa fa-star disable"></li>
              </ul>
              <p class="deli">Delivery in 24 hrs</p>
           
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid-1">
            <div class="product-image">
                <a href="#">
                  <img class="pic-1" src="assets/phone-3.png">
                
                </a>
              <p class="add-on"> OnePlus 7 Pro (Almond, 8GB RAM, Fluid AMOLED Display, 256GB Storage, 4000mAH Battery)</p>
               <p class="prize">₹23500
                <span >₹10,490</span>
                <a class="off">30% off</a>
               </p> 
            </div>
            <ul class="rating">
              <li style="color: #FFC600;" class="fa fa-star"></li>
              <li style="color: #FFC600;" class="fa fa-star"></li>
              <li style="color: #FFC600;" class="fa fa-star"></li>
              <li style="color: #FFC600;" class="fa fa-star "></li>
              <li style="color:gray;" class="fa fa-star disable"></li>
          </ul>
          <p class="deli">Delivery in 24 hrs</p>
                
            </div>
             </div>
    
    </div>
  </div>
   <div class="Contact-3">
    <div class="row">
      <div class="col-md-6 col-sm-6">
     <a class="Recent">Recently Added</a> 
        </div>
        <div class="col-md-6 col-sm-6">
       <div class="arrow">
        <a class="arr-right"><img src="assets/arrow-back.png"/></a>
         <a class="arr-back"> <img  src="assets/arrow.png"/> </a>
       
    </div>
          
       </div>
  
  
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid-2">
                    <div class="product-image-4">
                        <a href="#">
                            <img class="pic-3" src="assets/phone-2.png">
                          </a>
                       </div>
                       <p class="add-on"> OnePlus 7 Pro (Almond, 8GB RAM, Fluid AMOLED Display, 256GB Storage, 4000mAH Battery)</p>
                       <p>₹23500</p>
                       </div>
                       
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid-2">
                    <div class="product-image-4">
                        <a href="#">
                            <img class="pic-3" src="assets/phone-3.png">
                            </a>
                        
                    </div>
                    <p class="add-on"> OnePlus 7 Pro (Almond, 8GB RAM, Fluid AMOLED Display, 256GB Storage, 4000mAH Battery)</p>
                    <p>₹23500</p>
                  </div>
                  
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid-2">
                    <div class="product-image-4">
                        <a href="#">
                            <img class="pic-3" src="assets/phone-2.png"></a>
                            </div>
                            <p class="add-on"> OnePlus 7 Pro (Almond, 8GB RAM, Fluid AMOLED Display, 256GB Storage, 4000mAH Battery)</p>
                            <p>₹23500</p>
                </div>
                
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid-2">
                    <div class="product-image-4">
                        <a href="#">
                            <img class="pic-3" src="assets/phone-3.png">
                           
                        </a>
                        <p class="add-on"> OnePlus 7 Pro (Almond, 8GB RAM, Fluid AMOLED Display, 256GB Storage, 4000mAH Battery)</p>
                    </div>
                    <p class="prize-1">₹23500</p>
                        
                    
                </div>
            </div>
        </div>
      </div>
    </div> 
    <div class="contain-box">
      <h1 class="contain1"> Couldn't found what you are looking for ?</h1>
      <p class="row default">
        <img class="device-icon" src="assets/devi-icon.png"/>
       <img class="device-monitor" src="assets/devi-monitor.png"/>
       <img class="device-laptop" src="assets/device-laptop.png"/>
       <img class="device-arm" src="assets/armchair.png"/>
       <img class="device-micro" src="assets/microwave.png"/>
    </p>
    <p class="Req-button">Request product</p>
    </div>
    <div class="connect">
      <a class="qustion">
        Any questions in mind ?
      </a>
      <a class="Supp">Click here for quick support</a>
      <img class="whatapp" src="assets/whatsapp.png"/>
    
    </div>
     <div class="footer">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <img class="Icon-box" src="assets/3.png">
          <p class="clint">Cities we are in</p>
          <a class="boxss" src="assets/box.png"><img class="pune" src="assets/Pune.png"/></a>
          <p class="name">Pune</p>
            </div>
        <div class="col-md-4 col-sm-6">
            <div class="us">
            <a class="folw-us">Follow Us</a>
            <p class="page">We are driven by the excitement of building technologies, 
              inventing products, and providing services that change our local shopping experience.</p>     
              <p> <img class="face" src="assets/facebook.png"/> 
               <img class="twitter" src="assets/twitter.jpg"/></p>
               <hr>
               <p><a class="link">Useful Links</a>
               <a class="service">Service</a></p>
              <p> <a class="ab-us">About us</a>
               <a class="pay">Payment</a></p>
               <p>
                <a class="ab-us">Contact us</a>
                <a class="ship">Shipping</a>
               </p>
               <p>
                <a class="ab-us">Sitemap</a>
                <a class="pay">Cancelleation</a>
               </p>
            </div>
            </div>
            
       <div class="col-md-4 col-sm-6">
         <div class="act">
        <a class="contact-us">Contact Us</a>
        <p class="page">Location: Pune, Maharashtra 
          Phone: +91 7004831994 
          Email: digitalservices@elocals.in<p>  
            <p style="margin-top: 8vh;"> </p>   
          <hr >
           <p class="link">Infomation</p>
          <p class="ab-us"> FAQ</p>
           <p class="ab-us">Privacy Policy</p>
           <p class="ab-us">Terms & Conditions </p>
        </div>
      </div>
         </div>
         <div class="col-sm-12">
           <div class="right">© Locals Digital Services Pvt. Ltd. | ALL RIGHTS RESERVED 
          <!-- <a ><img  class="card" src="assets/Western-union.png" /></a>
            <a ><img class="card" src="assets/Group.png"/></a>
            <a> <img class="card" src="assets/Paypal.png"/></a>
           <a> <img src="assets/Group1.png"/></a> -->
           </div>
         </div>
    </div> 